*{
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em Arial;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0px;
    display: block;
    margin-bottom: 50px;
}
footer {
    min-height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 50px;
    margin: 0px;
    margin-top: auto;
    margin-top: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    min-height: 700px;
    background-color: darkgray;
    border-radius: 20px;
    margin: auto;
    color: white;
}
input {
    display: block;
    margin-top: 40px;
    margin: auto;
}
#res {
    background-color: white;
    width: 500px;
    height: 200px;
    margin: 40px;
    border-radius: 20px;
    color: black;
    text-align: center;
    line-height: 150px;
    font-size: 1.25;
}
main > h1 {
    text-align: center;
}
button {
    margin: auto;
}
article#conteiner {
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 15px;             
}